@model HOSPITAL2_LAB1.Model.Doctor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    h3 {
        font-family: 'Anek Gurmukhi', sans-serif;
        color: #aecce4;
        display: inline;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 110vh;
        background-color: #f0f8ff;
        position: relative;
    }

    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 70%;
        max-width: 600px;
        position: relative;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

</style>
<div class="container">
    <div class="form-container">
        <h3>Edit Doctor</h3>
        <hr />

        <form asp-action="EditDoctor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DoctorId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
                <select asp-for="Specialization" class="form-control" asp-items="ViewBag.Name">
                    <option value="" disabled selected>Select a specialization</option>
                </select>
                <span asp-validation-for="Specialization" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <select asp-for="Email" class="form-control" asp-items="ViewBag.Emails">
                    <option value="" disabled selected>Select an email</option>
                </select>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="control-label">Current Photo: </label>
                <img id="currentPhoto" src="~/images/@Url.Content(Model.PhotoUrl)" alt="Current Photo" style="max-width: 100px; padding-bottom: 20px; padding-left: 10px;" />
                <input type="file" id="fileInput" style="display: none" accept="image/*" />
                <input type="hidden" asp-for="PhotoUrl" /> <br />
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('fileInput').click()">Change Photo</button>
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>


        <div>
            <a asp-action="Doctors">Back to List</a>
        </div>

    </div>
</div>
<script>
    // Update the current photo and the hidden input field with the selected file's path
    document.getElementById('fileInput').addEventListener('change', function (e) {
        const fileInput = e.target;
        const fileName = fileInput.files[0].name;
        const currentPhoto = document.getElementById('currentPhoto');
        const photoUrlHidden = document.querySelector('input[type="hidden"][name="PhotoUrl"]');

        // Update the current photo's source to display the newly selected photo
        currentPhoto.src = URL.createObjectURL(fileInput.files[0]);

        // Set the value of the hidden input field to the file name
        photoUrlHidden.value = fileName;
    });
</script>
