@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
    #main {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    .background {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/foto1.jpg);
        background-size: cover;
        background-position: center;
        margin-top: -70px;
    }

    .content {
        width: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
        color: #fff;
    }

        .content h1 {
            font-size: 70px;
            margin-top: 30px;
            font-family: 'Lucida Sans Typewriter';
            font-size: 50px;
        }

        .content p {
            margin-right: 40%;
            font-weight: 100;
            font-size: 17px;
        }

</style>
<div id="main">
    <div class="background">
    </div>

    <div class="content">
        <h1>WELCOME TO YOUR DASHBOARD,DEAR PACIENT!</h1>
        <P>"Your Wellness, Our Mission"!</P>
    </div>


</div>
