@model List<HOSPITAL2_LAB1.Model.Complaint>

@{
    ViewData["Title"] = "Complaints";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
    .card {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .card-image {
        flex: 1 0 auto;
        overflow: hidden;
    }

        .card-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>

<div id="main">
    <h1>Complaints</h1>
   
    <div class="row mt-4">
        @if (Model.Count > 0)
        {
            @foreach (var complaint in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@complaint.ComplaintDate</h5>
                            <h5 class="card-title">@complaint.ComplaintDetails</h5>
                        
                            <div class="text-center">
                                <a href="@Url.Action("EditComplaint", "Patients", new { id = complaint.ComplaintId })" class="btn btn-primary">Edit</a>
                                <a href="@Url.Action("DeleteComplaint", "Patient", new { id = complaint.ComplaintId })" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No complaints found.</p>
        }
    </div>
</div>
