@model List<HOSPITAL2_LAB1.Model.ContactForm>
@{
    ViewData["Title"] = "ContactForm";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
    .table-blue {
        background-color: #E1EBEE;
    }

    .thead-dark {
        background-color: #007FFF;
        color: #fff;
    }

</style>
<h1>Messages</h1>
<hr />


<table class="table table-bordered table-striped table-hover table-blue">
    <thead class="thead-dark">
        <tr>

            <th>Subject</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Subject</td>
                <td>@contact.Message</td>

                <td>

                    <a href="@Url.Action("EditMessage", "Patients", new { id = contact.ContactId })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("DeleteMessage", "Patients", new { id = contact.ContactId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>