@model HOSPITAL2_LAB1.Model.ContactForm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>


    .kontakti h1{
        margin-top:20px;
        font-size: 30px; 
        color: #0066b2;
        text-align: center; 
        text-decoration: none;
        margin-bottom: 20px;
        

    }


    .kontakti p{
        font-size: 18px; 
        color: #367588; 
        text-align: center; 
        line-height: 1.5; 
        margin-bottom: 10px;
        align-itemscenter;
    }

    .kontakti h6 {
        margin-top: 20px;
        font-size: 30px;
        color: cornflowerblue;
        text-align: center;
        text-decoration: none;
        margin-bottom: 20px;
    }
 
    .form-group {
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
       align-content:center;
    }

    label.control-label {
        font-weight: bold;
    }

    input.form-control {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
    }

    span.text-danger {
        color: red;
    }

    input[type="submit"].btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
    }

    a {
        text-decoration: none;
        color: #007bff;
    }

  
        a:hover {
            border: 1px solid #007bff;
            border-radius: 5px;
            padding: 5px;
        }

   
    .form-group label {
        margin-bottom: 6px;
        margin-top: 20px;
        color: #0071c5;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


    .form{
        margin-left:100px;
        margin-top:-320px;


    }

    .imagee-patient {
        margin-top: 50px;
        width: 40%;
    }

        .imagee-patient img {
            width: 78%;
            margin-left: 780px;
          
            border-radius:600px;
        }

        .imagee-patient img:hover{
            transform: scale(1.08);
        }

  
</style>



<div class="kontakti">

<h1>WELCOME DEAR PATIENT!</h1>


<p>If you have any questions, concerns, or require assistance, our hospital is here for you. <br />Our dedicated team of healthcare professionals is readily available to address your inquiries and provide the support you need.</p>



    <h6>Contact us today, and let us guide you on your path to better health and well-being.</h6>

</div>
<div class="imagee-patient">
    <img src="~/images/happypatient1.jpg"/>
</div>


<div class="form">
<div class="row">
    <div class="col-md-4">
           
        <form asp-action="CreateMessage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

