@model HOSPITAL2_LAB1.Model.Complaint

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>

    h3 {
        font-family: 'Anek Gurmukhi', sans-serif;
        color: #6CB4EE;
        display: inline;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f8ff;
        height: 100vh;
        background-image: url('../images/healthcare.jpg');
        background-size: cover;
        position: relative;
    }


    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 70%;
        max-width: 600px;
        position: relative;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #0077c0;
         
    }

    .btn-primary {
        background-color: #007bff;
        border: none;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }


    .my-custom-link {
        color: blue;
        text-decoration:none;
    }

</style>


<div class="container">
    <div class="form-container">

        <h3>Write your complaints here</h3>
        <hr />
        <form asp-action="CreateComplaint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ComplaintDate" class="control-label"></label>
                <input asp-for="ComplaintDate" class="form-control" type="date" />
                <span asp-validation-for="ComplaintDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ComplaintDetails" class="control-label"></label>
                <input asp-for="ComplaintDetails" class="form-control" />
                <span asp-validation-for="ComplaintDetails" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div class="my-custom-div">
            <a asp-action="Index" class="my-custom-link">Back to Home</a>
        </div>
    </div>
</div>
