@model HOSPITAL2_LAB1.Model.Complaint

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<link rel="stylesheet" href="~/css/CreateComplaint.css">

<div class="container">
    <div class="form-container">

        <h3>Write your complaints here</h3>
        <hr />
        <form asp-action="CreateComplaint">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ComplaintDate" class="control-label"></label>
                <input asp-for="ComplaintDate" class="form-control" />
                <span asp-validation-for="ComplaintDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ComplaintDetails" class="control-label"></label>
                <input asp-for="ComplaintDetails" class="form-control" />
                <span asp-validation-for="ComplaintDetails" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-action="Complaints">Back to List</a>
        </div>
    </div>
</div>
