@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>
  

 
    /*pjesa e frontit ne dashboard*/
    .homedashboard-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .homedashboard-section .imagee-patient {
            width: 40%;
        }

            .homedashboard-section .imagee-patient img {
                width: 78%;
                margin-left: -10px;
            }

        .homedashboard-section .content1 h1 {
            font-size: 40px;
            margin-left: -20px;
            color: #1ca9c9;
            text-shadow: 0.4rem 0.3rem 0px #A4DDED;
        }

        .homedashboard-section .content1 p {
            margin-top: 20px;
            font-size: 18px;
            margin-left: -20px;
            color: gray;
        }


        .homedashboard-section .content1 button {
            width: 148px;
            height: 42px;
            margin-top: 20px;
            background: none;
            border: 2px solid #1ca9c9;
            font-size: 18px;
            font-weight: 500;
            box-shadow: 0px 0 5px 1px #b3aeae;
        }

            .homedashboard-section .content1 button:hover {
                width: 155px;
                background: #A4DDED;
                color: #fff;
                cursor: pointer;
            }

    .Ourhospital {
        font-size: 35px;
        color: #1ca9c9;
        font-style: italic;
        height: 81px;
        margin-top: 80px;
        margin-left: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .Ourhospital:hover {
            transform: scale(1.2);
            cursor: pointer;
            color: #0E3386;
        }



    .gallery {
        background-color: transparent;
        margin: top 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px 0;
        transition: transform .2s;
    }

        .gallery img {
            flex-wrap: wrap;
            width: 320px;
            height: 300px;
            margin: 10px 0;
            margin-left: -36px;
            border-radius: 10px;
        }

            .gallery img:hover {
                transform: scale(1.2);
            }


    /*about us*/
    .heading {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 20px auto;
    }

        .heading h1 {
            font-size: 50px;
            color: #1ca9c9;
            margin-bottom: 25px;
            position: relative;
        }

            .heading h1::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                display: block;
                margin: 0 auto;
                background-color: #1ca9c9;
            }

        .heading p {
            font-size: 18px;
            color: #666;
            margin-bottom: 35px;
        }

    .coontainer {
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .about-image-patient {
        flex: 1;
        margin-right: 40px;
        overflow: hidden;
    }

        .about-image-patient img {
            max-width: 100%;
            height: auto;
            display: block;
            transition: 0.5s ease;
        }

        .about-image-patient:hover img {
            transform: scale(1.2);
        }

    .about-coontent {
        flex: 1;
    }

        .about-coontent h2 {
            font-size: 23px;
            margin-bottom: 15px;
            color: #1877F2;
        }

        .about-coontent p {
            font-size: 18px;
            line-height: 1.5;
            color: #666;
        }

  

    .about-coontent button {
        width: 148px;
        height: 42px;
        margin-top: 20px;
        background: none;
        border: 2px solid #1ca9c9;
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0px 0 5px 1px #b3aeae;
    }

        .about-coontent button:hover {
            width: 155px;
            background: #A4DDED;
            color: #fff;
            cursor: pointer;
        }

    /*special services*/

    .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 20px;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        margin-top: 80px;
        background: White;
        margin-bottom: 5px;
    }

    .items {
        text-align: center;
        padding: 3rem 2rem;
        background: #fff;
        grid-template-rows: auto 1fr;
        position: relative;
        outline: .1rem solid cornflowerblue;
        outline-offset: -1.5rem;
        cursor: pointer;
    }

        .items:hover {
            outline: .2rem solid #0CAFFF;
            outline-offset: 0;
        }

        .items img {
            width: 80%;
            height: 200px;
            object-fit: cover;
            cursor: pointer;
            transition: 0.2s ease;
            position: relative;
        }

            .items img:hover {
                transform: scale(1.1);
            }

        .items h4 {
            padding: .5rem 0;
            text-align: center;
            font-size: 1.5rem;
            color: #0CAFFF;
        }

    .items {
        font-size: 1.3rem;
        color: #444;
        margin-top: -50px;
    }

        .items button {
            padding: 3px 18px;
            border: none;
            outline: none;
            color: white;
            background-color: #0CAFFF;
            cursor: pointer;
            border-radius: 4px;
            font-size: 18px;
            margin: 0 auto;
            transition: 0.2s all;
         
        }

            .items button a {
                color: beige;

            }

            .items button:hover {
                transform: scale(1.08);
            }



    .Specialservices h1 {
        font-size: 47px;
        font-family: 'Lucida Calligraphy';
        letter-spacing: 3.5px;
        text-align: center;
        margin-top: 100px;
        color: cornflowerblue;
    }

</style>


<div class="homedashboard-section">
    <div class="imagee-patient">
        <img src="~/images/dashboardpatient2.jpg" />
    </div>

    <div class="content1">
        <h1>Welcome to your dashboard dear Patient! </h1>
        <p>In our hospital, patient care is not just a duty; it's our unwavering commitment.<br /> We understand that during your time of illness or need, what matters most is the quality of care you receive. <br />That's why we prioritize your wellbeing above all else</p>
        <button><a asp-area="" asp-controller="Patients" asp-action="CreateMessage">Contact Us</a></button>
    </div>

</div>



<div class="heading">
    <h1>About Us</h1>
    <p>Your health and happiness are our greatest rewards, and we are here for you, ready to provide the highest level of care, today and always.</p>
</div>

<div class="coontainer">
    <section class="about">
        <div class="about-image-patient">
            <img src="~/images/about-patient.jpg" />

        </div>
        <div class="about-coontent">
            <h2>"Your Journey to Better Health Begins Here."</h2>
            <p>
                Our hospital stands as a beacon of hope and healing in our community. For years, we have been at the forefront of providing exceptional healthcare services to our patients, driven by a steadfast commitment to their well-being.
                Within our walls, you will find a team of dedicated medical professionals who are not only experts in their respective fields but also deeply compassionate individuals.
            </p>
          
            <button><a asp-area="" asp-controller="Sherbimet" asp-action="Sherbimet">Our Services</a></button>


        </div>

    </section>
</div>

<div class="Ourhospital">
    <h1><i>HAPPY PATIENTS AT OUR HOSPITAL </i></h1>

</div>

<div class="gallery">

    <img src="~/images/happypatient.jpg">


    <img src="~/images/happypatient1.jpg">


    <img src="~/images/happypatient3.jpg">


    <img src="~/images/happypatients2.jpg">


</div>

<div class="Specialservices">
    <h1>Our Special Services</h1>
    <div class="services">

        <div class="items">
            <img src="~/images/ambulance.jpg">
            <h4>Ambulance Service 24/7</h4>
            <div class="text">Our hospital provides ambulance services that are available 24/7, 365 days a year. </div> <br>
            <button> <a asp-area="" asp-controller="Sherbimet" asp-action="Sherbimet">Look other servies</a></button>
        </div>
        <div class="items">
            <img src="~/images/specialservices2.jpg">
            <h4>Alergology</h4>
            <div class="text">Alergology is a medical specialty that focuses on the diagnosis and treatment of allergies and allergic diseases.</div> <br>
            <button> <a asp-area="" asp-controller="Sherbimet" asp-action="Sherbimet">Look other servies</a></button>
        </div>
        <div class="items">
            <img src="~/images/specialservices3.jpg">
            <h4>In Vitro Fertilization</h4>
            <div class="text">In vitro fertilization (IVF) is a medical procedure that assists individuals or couples with fertility issues in achieving pregnancy.</div> <br>
            <button> <a asp-area="" asp-controller="Sherbimet" asp-action="Sherbimet">Look other servies</a></button>
        </div>
    </div>
</div>



