@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<style>
   /* #main {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    .background {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/foto11.jpg);
        background-size: cover;
        background-position: center;
        margin-top: -70px;
    }

    .content {
        width: 100%;
        position: absolute;
        top: 50%;
        text-align: center;
        color: #fff;
    }

        .content h1 {
            font-size: 70px;
            margin-top: -360px;
            font-family: 'Lucida Sans Typewriter';
            font-size: 50px;
        }

        .content p {
            margin-right: 40%;
            font-weight: 100;
            margin-top: 68px;
            font-size: 20px;
        }
        */
        /*pjesa e frontit ne dashboard*/
    .homedashboard-section{
        display:flex;
        justify-content:center;
        align-items:center;
    }

   .homedashboard-section .imagee-patient {
       width:40%;
   }

   .homedashboard-section .imagee-patient img{
       width:78%;
       margin-left:-10px; 
   }

        .homedashboard-section .content1 h1 {
            font-size:40px;
            margin-left: -20px;
            color: #1ca9c9;
            text-shadow: 0.4rem 0.3rem 0px #A4DDED;
      }

        .homedashboard-section .content1 p{
            margin-top:20px;
            font-size:18px;
            margin-left: -20px;
            color:gray;
        }


        .homedashboard-section .content1 button{
            width:148px;
            height:42px;
            margin-top:20px;
            background:none;
            border: 2px solid #1ca9c9;
            font-size:18px;
            font-weight: 500;
            box-shadow: 0px 0 5px 1px #b3aeae;
        }

        .homedashboard-section .content1 button:hover{
            width:155px;
                background: #A4DDED;
            color:#fff;
            cursor:pointer;
        }


        </style>
       

    <div class="homedashboard-section">
    <div class="imagee-patient">
        <img src="~/images/dashboardpatient2.jpg"/>
    </div>

    <div class="content1">
        <h1>Welcome to your dashboard dear Patient! </h1>
        <p>In our hospital, patient care is not just a duty; it's our unwavering commitment.<br /> We understand that during your time of illness or need, what matters most is the quality of care you receive. <br />That's why we prioritize your wellbeing above all else</p>
            <button>Contact Us</button>
    </div>

    </div>


