@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Welcome to Admin Dashboard!</h1>

<div class="container mt-5">
    <form id="adminForm" method="post" action="@Url.Action("Create", "Admin")">
        <!-- Hidden AdminID field -->
        <input type="hidden" id="adminID" name="AdminID" />

        <!-- Hidden UserID field (Assuming you have a way to retrieve this) -->
        <input type="hidden" id="userID" name = "UserId"/>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" required name="Name">
        </div>

        <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" class="form-control" id="surname" required name="Surname">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


