@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - SunRiseCare Hospital</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<style>
    .card {
        margin-top: 7rem;
        margin-left: -2rem;
        border-radius: 10px;
        position: relative;
        padding: 80px 40px 40px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 500px;
        color: #fff;
        background: rgba(0, 0, 0, 0.7);
    }

    body {
        margin: 0;
        padding: 0;
        font-family: montserrat;
        background: linear-gradient(120deg, #84b5d5, #cda5dd);
        height: 100vh;
        overflow: hidden;
    }

    h2 {
        text-align: center;
        margin-top: -2rem;
    }

    .form-floating {
        color: #4a4848;
    }

    button {
        margin-top: 0.7rem;
    }

    #imagelogin {
        width: 800px;
        height: 800px;
    }

    #registerForm {
        margin-top: -800px;
        margin-left:150px;
    }

</style>
<body>
    <div class="row justify-content-start">
        <img src="~/images/young-handsome-physician-medical-robe-with-stethoscope.jpg" alt="" id="imagelogin">
    </div>

    <div class="row justify-content-end">
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-container wider-form">
                <div class="card">
                    <div class="card-body">
                        <h2>Create a new account</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
               
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}