@model HOSPITAL2_LAB1.Model.Report

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<style>
    body {
        background: #d7dfe4;
    }

    .row {
        background: #c3d4de;
        position: absolute;
        top: 40%;
        left: 29%;
        justify-content: center;
        width: 700px;
        display: flex;
        margin-top: -2rem;
        border-radius: 2rem;
    }

    .form-group {
        margin-left: -2rem;
        margin-right: -3rem;
        padding: 0.5rem;
        font-weight: bold;
    }

    .control-lable {
    }

    .form-group input {
        width: 100%;
        padding: 4px 0;
        font-size: 16px;
        margin: 10px;
        border: none;
        border-bottom: 2px solid #333;
        outline: none;
    }

</style>


<h1>Add a report</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRaport">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ReportType" class="control-label">Report Type</label>
                <input asp-for="ReportType" class="form-control" />
                <span asp-validation-for="ReportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDate" class="control-label">Report Date</label>
                <input asp-for="ReportDate" class="form-control" type="date" />
                <span asp-validation-for="ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportDescription" class="control-label">Report Description</label>
                <input asp-for="ReportDescription" class="form-control" />
                <span asp-validation-for="ReportDescription" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Patient" class="control-label"></label>
                <select asp-for="Patient" class="form-control" asp-items="@ViewBag.PatientList">
                    <option value="" disabled selected>Select a patient</option>
                </select>
                <span asp-validation-for="Patient" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Reports">Back to List</a>
    </div>

</div>