@model List<HOSPITAL2_LAB1.Model.Specialization>

@{
    ViewData["Title"] = "Sherbimet";
}



<div id="react-container"></div>
<link rel="stylesheet" href="~/css/Sherbimet.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>

<script type="text/babel">


    class Sherbimet extends React.Component {


        render() {
            return (
                <div>

                    <div className='sherbimet-container'>
                        <h1>MEDICAL SERVICES</h1>
                    </div>

                    <div className='slider-sherbimet'></div>

                    <div className='h1'>
                        <h1>Caring for you, every step of the way.</h1>
                    </div>

                    <div className='wrapper'>
                        <div className='row'>
                            <div className='image-section'>
                                <img src="@Url.Content("~/images/about.jpg")"></img>

                            </div>

                            <div className='content-sherbimet'>
                                <h1>Services</h1>
                                <h2>Our Hospital</h2>
                                    <p>The services at our hospital are crucial for the health and well-being of our patients. Our hospital is dedicated to providing quality healthcare and improving our services through the latest technology and equipment, as well as highly trained and qualified medical staff.

    The services at our hospital encompass the emergency treatment of acute illnesses and injuries, the diagnosis and treatment of various diseases, care for patients in intensive care, rehabilitation, palliative care, and surgical services. Our hospital also offers specialized services to treat specific health conditions and diseases such as cardiology, neurology, oncology, and orthopedics.

                                </p>
                            </div>

                        </div>
                    </div>

                    <div className='flexbox-sherbimet'>
                         @if (Model.Count > 0)
                         {
                            @foreach (var service in Model)
                            {
                                 <div className='card-sherbimet'>
                                      <div className='img'>
                                           <img src="~/images/@Url.Content(service.PhotoUrl)" alt="Service Image" />
                                      </div>
                                      <p className='title'>@service.Name</p>
                                      <div>
                                         <p>@service.Description</p>
                                      </div>
                                 </div>
                            }
                         }
                         else
                         {
                             <p>No services found.</p>
                         }
                    </div>

             </div>

            );
        }
    }

        ReactDOM.render(<Sherbimet />, document.getElementById('react-container'));
</script>
