
@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes zoomUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@font-face {
    font-family: 'sequel 85';
    src: url('../fonts/Sequel100Black-85.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
