@model HOSPITAL2_LAB1.Model.Patient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<style>
    html {
        overflow-x: hidden;
    }

    .container {
        max-width: 100vw;
    }
</style>

<h1>Register a patient</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Choose Gender:</label>
            <div class="form-check">
                <input asp-for="Gender" class="form-check-input" type="radio" value="Male" id="gender-male" name="Gender">
                <label class="form-check-label" for="gender-male">Male</label>
                <br />
                <input asp-for="Gender" class="form-check-input" type="radio" value="Female" id="gender-male" name="Gender">
                <label class="form-check-label" for="gender-male">Female</label>
                <br />
             
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <select asp-for="Room" class="form-control" asp-items="ViewBag.RoomNumber">
                    <option value="" disabled selected>Select a room</option>
                </select>
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                @Html.DropDownList("Email", ViewData["Emails"] as SelectList, "Select an email", new { @class = "form-control" })
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Patients">Back to List</a>
</div>

