
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Congrats !</h4>
                    <p>You have successfully created a new room.</p>
                    <hr>
                    <div>
                        <a asp-action="Rooms">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
