@model HOSPITAL2_LAB1.Model.Payment

@{
    ViewData["Title"] = "Create Payment";
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}

<style>
    html {
        overflow-x: hidden;
    }

    .container {
        max-width: 100vw;
    }
    .row{
        width:30%;
    }
</style>
<br />
<h2>Make a Payment</h2>

<div class="row">
    <form asp-action="CreatePayment" method="post">
        <div class="form-group">
            <label for="PaymentAmount">Payment Amount:</label>
            <input type="text" class="form-control" id="PaymentAmount" name="PaymentAmount" asp-for="PaymentAmount">
        </div>
        <div class="form-group">
            <label for="PaymentDate">Payment Date:</label>
            <input type="date" class="form-control" id="PaymentDate" name="PaymentDate" asp-for="PaymentDate">
        </div>
        <div class="form-group">
            <label for="Patient">Patient:</label>
            @Html.DropDownListFor(model => model.Patient, (SelectList)ViewBag.PatientList, "Select a patient", new { @class = "form-control" })
            <span asp-validation-for="Patient" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Report">Report:</label>
            @Html.DropDownListFor(model => model.Report, (SelectList)ViewBag.ReportList, "Select a report", new { @class = "form-control" })
            <span asp-validation-for="Report" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Done</button>
    </form>
</div>
<div>
    <a asp-action="Payments">Back to List</a>
</div>
