@model IEnumerable<HOSPITAL2_LAB1.Model.Payment>

@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}

<h2>Payments</h2>

<table class="table">
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>Payment Amount</th>
            <th>Payment Date</th>
            <th>Patient</th>
            <th>Report</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
               
                <td>@payment.PaymentAmount</td>
                <td>@payment.PaymentDate</td>
                <td>@payment.PatientNavigation.Email</td>
                <td>@payment.ReportNavigation.ReportType</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="CreatePayment">Create Payment</a>
</div>
